@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap');

body {
    background-image: url("../_imagens/wallpaper-index.jpg");
}
h1 {
    font-size: 50px;
    color: purple;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
    font-family:'Tulpen One', cursive;
}
h2 {
    font-family: 'Tulpen One', sans-serif;
    font-size: 40px;
    text-shadow: 5px 5px 5px purple;
    color: white;
}
header#cabecalho img#icone{
    position: absolute;
    max-width: 30%;
    max-height: 30%;
    left: 550px;
    top: 150px;
}
nav#menu {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 35px;
    display:block;
}    
nav#menu h1 {
    display: none;
}
nav#menu a{
    font-family: 'Tulpen One', sans-serif;
    text-decoration: none;
    color: white;
}
nav#menu li{
    display: inline;
    text-transform:uppercase;
    background-color: rgba(214, 14, 154, 0.3);
    padding: 5px;
    border-radius: 20px;
}
nav#menu a:hover {
    color: #606060;
}